@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-view{
    @media (min-width: 320px) {
        display: none;
        
    }
}

.pad{
    padding-right: 700px;
}

.size{
    border-radius: 50%;
}

